@use 'src/styles/vars';

.all-currencies {
  
 &__title {
  padding: 2em 1em 1em 1em ;
   background-color: vars.$light;
   border-bottom: 1px solid vars.$primary;
   font-weight: 700;
   color: vars.$primary;
} 

&__subtitle {
  padding: 1em;
  background-color: vars.$light;
  border-bottom: 1px solid vars.$primary;
  font-weight: 500;
  color: vars.$primary;
}

&__subtitle:hover {
  background-color: vars.$alternate;
  transition: all 0.3s ease-in-out;
}

}
