
		@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700&display=swap');
		

.app {
  width: 600px;
  margin: 0 auto;
  padding: 1em;
  background-color: #f1c5b6;
  font-family: 'Spartan', sans-serif;
}
